<div class="zen-category-hero-container">
  <div class="zen-category-hero-image" style="background-image: url('{{ include.image_path | relative_url }}');"></div>
  <div class="zen-category-hero-caption">
    <h1 class="zen-category-title">{{ include.title }}</h1>
  </div>
</div>

<div class="zen-post-list">
  {% for post in include.posts %}
  <a href="{{ post.url | relative_url }}" class="zen-post-item">
    <span class="zen-post-title">{{ post.title }}</span>
    <span class="zen-post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
  </a>
  {% endfor %}
</div>
