<header class="site-header">
  <meta http-equiv="Cache-Control" content="public, max-age=31536000">
  <div class="site-header-content">
    <a href="{{ "/" | relative_url }}" class="site-title-container">
      <span class="site-title">{{ site.title | escape }}</span>
    </a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ "/" | relative_url }}">ホーム</a>
        <a class="page-link" href="{{ "/posts/" | relative_url }}">記事</a>
        <a class="page-link" href="{{ "/about/" | relative_url }}">何について</a>
        {% if site.github_username %}
          <a class="page-link" href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">GitHub</a>
        {% endif %}
        {% if site.email %}
          <a class="page-link" href="mailto:{{ site.email }}">Contact</a>
        {% endif %}
      </div>
    </nav>
  </div>
</header>
