<!DOCTYPE html>
<html lang="{{ site.lang | default: "ko" }}">
<head>
  {% include head.html prefetch_landing=layout.prefetch_landing %}
  {% if layout.schema %}{% include schema-website.html %}{% endif %}
  {% if layout.article_schema %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ page.title | escape }}",
    "datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
    "dateModified": "{{ page.last_modified_at | default: page.date | date: "%Y-%m-%d" }}",
    "author": {
      "@type": "Person",
      "name": "{{ page.author | default: site.author }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "url": "{{ site.url }}"
    },
    "url": "{{ site.url }}{{ page.url }}",
    "description": "{{ page.excerpt | strip_html | strip_newlines | escape | truncate: 200 }}"
  }
  </script>
  {% endif %}
</head>
<body>
  {% include header.html %}

  <main class="main-content{% if page.layout == 'post' %} main-content-post{% endif %}">
    {{ content }}
  </main>

  {% include footer.html %}
  {% include theme-toggle.html %}
</body>
</html>
